body {
    background-color: #ebebeb !important;
    margin:0 !important;
}

#navbar {
    position:fixed;
    width:100%;
    z-index:1;
}

#sidebar-container{
    margin-top: 108px;
    position:fixed;
    height: 100%;    
    overflow:auto;
    z-index:1;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .logo h4{
    color:white;
    font-weight:bold;
}

#sidebar-container .menu{
    width: 12rem;
    text-align:left;
}

#sidebar-container .menu a{
    color:white;   
    text-decoration: none;    
    display:block;
}

#sidebar-container .menu a.active{
    background-color:#110f0f;    
}

#sidebar-container .menu a:hover:not(.active){
    background-color:#5a5a5a;    
}

#logo{
    width:53px;
    height:50px;
}

#sign_off{
    position:fixed;
    bottom:0;
}

.content {
    margin-left: 12rem;
    padding: 16px;
    margin-top:108px;
    z-index:0;
}

@media screen and (max-width: 991.6px){
    #sidebar-container {
        width: 100%;        
        height: auto;
    }

    #sidebar-container .menu a {
        float: left;
        position: relative;
    }

    #sidebar-container .menu{
        display:inline;
    }

    #sidebar-container .logo h4{
        float:left;
    }
    .content {
        margin-left: 0;
    }
}

@media screen and (max-height: 400px) {
    #sidebar-container {
        width: 100%;
        height: auto;
    }

    #sidebar-container .menu a {
        float: left;
        position: relative;
    }

    #sidebar-container .menu{
        display:inline;
    }

    #sidebar-container .logo h4 {
        float: left;
    }
    .content {
        margin-left: 0;
    }
}

#head-catalogo {
    padding: 10px;
}

#head-catalogo #filtros{
    float:left;
    margin-left: -5px;
}

#head-catalogo #order_by{
    float:right;
    margin-right: 16px;
}

#catalogo{
    margin-top:20px;
}

.card {
    float:left;
    margin: 10px 5px;
}

#catalogo .card .card-body a:hover {
    background-color: #37393b;
}

#catalogo .card .card-body a{
    border-radius: 30px;
}

#catalogo .card .card-body p,h5{
    text-align:left !important;
}

.col-6 label {
    border-radius: 30px;
    padding: 6px 12px;
}

.col-6 h6, h4, label {
    text-align: center !important;
}

.col-6 h4 {
    font-weight:bold;
}

.col-6 #rbN {
    margin-left: 70px;
    border-radius: 30px;
    color: black;
    background-color: black;
    border: 2px solid black;
}

.col-6 #rbB {
    border-radius: 30px;
    color:white;
    background-color: white;
    border: 2px solid black;
}